<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Tractography</title>
  </head>
  <body>
    <noscript>
      <strong>niivue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <header>
      
      <div id='whichBucket'>
        <label>Choose Dataset: </label>
        <select v-model="dataset" @change="update">
          <option v-for="dataset in datasets" :value="dataset">{{dataset.name}}</option>
        </select>
        <input v-if="showBoxes" v-model="otherName" placeholder="Type the name of the dataset you want to use." />
        <input v-if="showBoxes" v-model="otherPrefix" placeholder="Type the url prefix to the bucket. This is everything before /derivatives."/>
        <input type="checkbox" v-if="showBoxes"v-model="done" @click="entered"/>
        <label v-if="showBoxes">Done</label>
      </div>
      
      <div id='subjectAndSession'>
        <label>Subject: </label>   
        <select v-model="subjectId" @change="update">
          <option v-for="subject in subjects" :value="subject">{{subject.id}}</option>
        </select>
        <label> Session: </label>
        {{subjectId.session}}
      </div>

      <div id='scanType'>
        <label>Subject: </label>   
        <select v-model="scan" @change="update">
          <option v-for="scan in scans" :value="scan">{{scan.name}}</option>
        </select>
      </div>
    
      <div id ='checkedboxes'>
        <label>Bundles To Include: </label>
        <br>
        <label><input type="checkbox" v-model = "toggled" @change="toggle">Toggle All</label>
        <table>
          <td v-for="bundleType in bundleTypes">
            <label>{{bundleType.name}}</label>
            <input type="checkbox" v-model="bundles" @change="update" :value="bundleType.id">
          </td>
        </table>
      </div>

      </header>
    <main id="container">
        <canvas id="gl1" width="1258" style="width: 100%; height: 80%;" height="800" tabindex="0">
        </canvas>
    </main>
  </body>
</html>
<script src="https://unpkg.com/@niivue/niivue@0.32.0/dist/niivue.umd.js"></script>
<script src = "https://unpkg.com/vue@3"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src = "./colorArray.js"></script>
<script type="text/javascript" src = "./bundleTypes.js"></script>
<script type="text/javascript" src = "./subjectAndSession.js"></script>
<script type="text/javascript" src = "./callNiivue.js"></script>
<script type="text/javascript" src = "./initialize.js"></script>
<script tyoe="text/javascript" src = "./findScans.js"></script>
<script defer>
  
  const dropVueApp2 = Vue.createApp({
    data(){
      return{
        datasets:[
          {name: 'Healthy Brain Network', prefix: 'https://fcp-indi.s3.amazonaws.com/data/Projects/HBN/BIDS_curated'},
          {name:'Other'}
        ],
        dataset:{name: 'Healthy Brain Network', prefix: 'https://fcp-indi.s3.amazonaws.com/data/Projects/HBN/BIDS_curated'},
        showBoxes: false,
        otherName: '',
        otherPrefix: '',
        done: false
      }
    },
    methods:{
      update(){
        if (this.dataset.name == 'Other'){
          this.showBoxes = true
        }
        else{
          this.showBoxes = false
          initialize(this.dataset.prefix)
        }
      },
      entered(){
        this.datasets.pop()
        this.datasets.push({name:this.otherName, prefix: this.otherPrefix})
        this.dataset = {name:this.otherName, prefix: this.otherPrefix}
        this.datasets.push({name:'Other'})
        this.showBoxes = false
        this.otherName = ''
        this.otherPrefix = ''
        this.done = false
        this.update()
      }
    }
  }).mount('#whichBucket')

  

  const dropVueApp = Vue.createApp({
    data(){
      return{
        subjects:[],
        subjectId:[],
      }
    },
    methods:{
      update(){
        console.log(this.subjectId)
        changeVolumeList([arrayBasedOnSubjectAndSite([this.subjectId.id, this.subjectId.session], dropVueApp2.dataset.prefix, dropVueApp3.scan.url), checkboxVueApp.bundles])
      }
    }
  }).mount(subjectAndSession)
  
  const dropVueApp3 = Vue.createApp({
    data(){
      return{
        scans:[],
        scan:{},
      }
    },
    methods:{
      update(){
        changeVolumeList([arrayBasedOnSubjectAndSite([dropVueApp.subjectId.id, dropVueApp.subjectId.session], dropVueApp2.dataset.prefix, this.scan.url), checkboxVueApp.bundles])
      }
    }
  }).mount(scanType)

  const checkboxVueApp = Vue.createApp({
    data(){
      return{
        bundleTypes:returnBundleTypes(),
        bundles:[],
        toggled:false,
        colors:returnColorArray()
      }
    },
    methods:{
      update(){
        changeVolumeList([arrayBasedOnSubjectAndSite([dropVueApp.subjectId.id, dropVueApp.subjectId.session], dropVueApp2.dataset.prefix, dropVueApp3.scan.url), this.bundles])
        if (this.bundles.length < 24){
          this.toggled = false
        }
      },
      toggle(){
        this.bundles = []
        if (this.toggled){
          for (bundleType in this.bundleTypes){
            this.bundles.push(bundleType)
          }
        }
      this.update()
      }
    }
  }).mount('#checkedboxes')
  
  initialize(dropVueApp2.dataset.prefix)  
</script>